{% extends "mainpages/page-layout.html" %}
{% block title %}Menu E&T{% endblock %}
{% block contenido %}
<!-- INICIO CONTENIDO -->
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row">
                        <div class="col">
                            <h3 class="mb-0">
                                <span class="badge badge-warning">SITE IL6S PILARES</span> -
                                Menu Pilares E&T:
                            </h3>
                        </div>
                        <div class="col text-right">
                            <a href="{{url_for('menus.menu_inicio_pilares_il6s')}}" class="btn btn-sm btn-primary">Regresar</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="row">
                        <!-- INICIO CARD DE INICIO -->
                        <div class="col-xl-6">
                            <div class="card bg-transparent">
                                <div class="card-header bg-transparent">
                                    <div class="row">
                                        <div class="col" align="center">
                                            <h5 class="h3 text-dark mb-0">Estándares (SWP)</h5><br>
                                            <h6 class="text-dark text-uppercase ls-1 mb-1"></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-outline-primary btn-sm btn-block" data-toggle="tooltip" data-placement="top" title="Próximamente">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card bg-transparent">
                                <div class="card-header bg-transparent">
                                    <div class="row">
                                        <div class="col" align="center">
                                            <h5 class="h3 text-dark mb-0">Herramientas y Formatos</h5><br>
                                            <h6 class="text-dark text-uppercase ls-1 mb-1"></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-outline-primary btn-sm btn-block" data-toggle="tooltip" data-placement="top" title="Próximamente">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card bg-transparent">
                                <div class="card-header bg-transparent">
                                    <div class="row">
                                        <div class="col" align="center">
                                            <h5 class="h3 text-dark mb-0">Material de Entrenamiento</h5><br>
                                            <h6 class="text-dark text-uppercase ls-1 mb-1"></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-outline-primary btn-sm btn-block" data-toggle="tooltip" data-placement="top" title="Próximamente">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="card bg-transparent">
                                <div class="card-header bg-transparent">
                                    <div class="row">
                                        <div class="col" align="center">
                                            <h5 class="h3 text-dark mb-0">Tablero Pilar</h5><br>
                                            <h6 class="text-dark text-uppercase ls-1 mb-1"></h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <a href="#" class="btn btn-outline-primary btn-sm btn-block" data-toggle="tooltip" data-placement="top" title="Próximamente">Visitar</a>
                                </div>
                            </div>
                        </div>
                        <!-- FIN SEGUNDA CRAD-->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2021 <a href="" class="font-weight-bold ml-1" target="_blank">Mondelez</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="" class="nav-link" target="_blank">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
<!-- FIN CONTENIDO -->
{% endblock %}