{% extends "mainpages/layout.html" %}
{% block title %}Edit{% endblock %}
{% block content %}
{% for field, errors in form.errors.items() %}
<div class="alert alert-danger">
{{ form[field].label }}: {{ ', '.join(errors) }}
</div>
{% endfor %}
<form method="post">
  {{ form.csrf_token }}
<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class=" col ">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row align-items-center">
            <div class="col">
              <h3 class="mb-0">
                <span class="badge badge-warning">Edit - Captura: {{slab_cto.linea_cto}} {{slab_cto.linea}}</span>
              </h3>
            </div>
            <div class="col text-right">
              {% if current_user.is_admin() %}
              <a
                href="{{url_for('menus.menu_inicio_ctos_consulta_capturas')}}"
                class="btn btn-sm btn-primary">Regresar</a>
                {{form.enviar(class="btn btn-sm btn-warning")}}
              <!-- <a
                href="{{url_for('ctos_consulta.cto_consulta_slab_1s_graph')}}"
                class="btn btn-sm btn-success">Consultar Linea</a> -->
              {% endif %}
            </div>
          </div>
        </div>
      
        <div class="card-body">
          <div class="row">
              
            <!-- <div class="col-xl-7">
              <div class="card bg-translucent">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="text-dark text-uppercase ls-1 mb-1">
                        GE Share
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <div id="resultados_id_ge_pie_graph" style="width: 100%; height: 100%;"></div>
                    <table class="table" id="data_resultados_id_ge_pie" hidden>
                      <thead>
                        <tr>
                          <th>Share</th>
                          <th>Porcentaje</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>Ge</td>
                          <td>{{slab_cto.ge}}</td>
                        </tr>
                        <tr>
                          <td>No Planned</td>
                          <td>0.01</td>
                        </tr>
                        <tr>
                          <td>Planned</td>
                          <td>{{100 - (slab_cto.ge)}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-5">
              <div class="card bg-translucent">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="text-dark text-uppercase ls-1 mb-1">
                        Failure Modes
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="chart">
                    <div id="resultados_id_fallas_bar" style="width: 100%; height: 100%;"></div>
                    <table class="table" id="data_resultados_id_fallas_bar" hidden>
                      <thead>
                        <tr>
                          <th>Modos</th>
                          <th>Minutos</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td>{{slab_cto.falla}}</td>
                          <td>{{slab_cto.total}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div> -->

            <div class="col-xl-4">
              <div class="card bg-translucent">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="text-dark text-uppercase ls-1 mb-1">Datos Operador</h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <!-- INCIO Lineas -->
                    <table class="table align-items-center table-flush">
                      <tbody align="center">
                        <tr>
                          <th>Fecha:</th>
                          <td>{{form.fecha(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Turno:</th>
                          <td>{{form.turno(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr hidden>
                          <th>Sku:</th>
                          <td>{{form.sku(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Maquina:</th>
                          <td>{{form.maquina(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Lote Juliano</th>
                          <td>{{form.lote(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Linea:</th>
                          <td>{{form.linea(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                        <tr>
                          <th>Codigo Sobre:</th>
                          <td>{{form.codigo_sobre(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Operador:</th>
                          <td>{{form.nombre_operador(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Lote Bobina:</th>
                          <td>{{form.lote_bobina(class="form-control form-control-sm")}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- FIN -->
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="card bg-translucent">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="text-dark text-uppercase ls-1 mb-1">Datos Operador</h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <!-- INCIO Lineas -->
                    <table class="table align-items-center table-flush">
                      <tbody align="center">
                        <tr>
                          <th>Tiempo Corrida:</th>
                          <td>{{form.tiempo_corrida(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Area</th>
                          <td>{{form.area(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Linea</th>
                          <td>{{form.linea_cto(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Año</th>
                          <td>{{form.year(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Planta</th>
                          <td>{{form.planta(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Seccion</th>
                          <td>{{form.seccion(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Bobina Consumida</th>
                          <td>{{form.bobina_consumida(class="form-control form-control-sm")}}</td>
                        </tr>
                        <tr>
                          <th>Total Display</th>
                          <td>{{form.total_display(class="form-control form-control-sm")}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- FIN -->
                </div>
              </div>
            </div>

            <div class="col-xl-4">
              <div class="card bg-translucent">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="text-dark text-uppercase ls-1 mb-1">
                        Resultado
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <!-- INCIO Lineas -->
                    <table class="table align-items-center table-flush">
                      <tbody align="center">
                        <tr>
                          <th>T. Operativo:</th>
                          <td>{{form.tiempo_operativo(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                        <tr>
                          <th>T. Usado</th>
                          <td>{{form.tiempo_usado(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                        <tr>
                          <th>T. Maximo</th>
                          <td>{{form.tiempo_maximo(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                        <tr>
                          <th>GE %</th>
                          <td>{{form.ge(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                        <tr>
                          <th>Quality Loss</th>
                          <td>{{form.quality_loss(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                        <tr>
                          <th>Speed Loss</th>
                          <td>{{form.speed_loss(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                        <tr>
                          <th>Rework</th>
                          <td>{{form.rework(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                        <tr>
                          <th>Scrap</th>
                          <td>{{form.scrap(class="form-control form-control-sm", readonly=True)}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- FIN -->
                </div>
              </div>
            </div>

            <div class="col-xl-12">
              <div class="card bg-translucent">
                <div class="card-header bg-transparent">
                  <div class="row align-items-center">
                    <div class="col">
                      <h5 class="text-dark text-uppercase ls-1 mb-1">
                        Fallas
                      </h5>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                    <!-- INCIO Lineas -->
                    <table class="table align-items-center table-flush">
                      <tbody align="center">
                        <tr>
                          <!-- <th>Loss:</th> -->
                          <th>Falla:</th>
                          <th>Frecuencia:</th>
                          <th>Total Min:</th>
                        </tr>
                        <tr>
                          <td>{{form.falla(class="form-control form-control-sm")}}</td>
                          <td>{{form.frec(class="form-control form-control-sm")}}</td>
                          <td>{{form.total(class="form-control form-control-sm")}}</td>
                        </tr>
                      </tbody>
                    </table>
                    <!-- FIN -->
                </div>
              </div>
            </div>

          </div>
        </div>
      </form>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6">
        <div class="copyright text-center  text-lg-left  text-muted">
          &copy; 2021
          <a href="" class="font-weight-bold ml-1" target="_blank">Mondelez</a>
        </div>
      </div>
      <div class="col-lg-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-lg-end"
        >
          <li class="nav-item">
            <a href="" class="nav-link" target="_blank">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
