{% extends "consultas/layout.html" %}
{% block title %}CTO's Entradas - Excel{% endblock %}
{% block content %}
<!-- Page content -->
<div class="container-fluid mt--4">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-transparent">
          <div class="row">
            <div class="col">
                <h3 class="mb-0"><span class="badge badge-warning">Entradas</span> - CTO's Excel</h3>
            </div>
            <div class="col text-right">
                <a href="{{url_for('menus.menu_inicio_ctos')}}" class="btn btn-sm btn-primary">Regresar</a>
                <span id="boton_exportar_excel"></span>
            </div>
        </div>
      </div>

        <div class="card-body">
          <div class="row">

            <div class="col-xl-12">
              <form>
                <div class="card bg-transparent">
                  <div class="card-header bg-transparent">
                    <div class="row">
                      <div class="col">
                        <h5 class="h3 text-dark text-muted mb-0"><span class="badge badge-success">Filtro</span></h5>
                      </div>
                      <div class="col text-right">
                        <!-- <input type="reset" value="Limpiar Filtro" class="btn btn-sm btn-warning"> -->
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <table style="width: 67%; margin: 0 auto 2em auto;">
                        <thead align="center">
                            <tr>
                                <th>Selección</th>
                                <th>Busqueda</th>
                            </tr>
                        </thead>
                        <tbody align="center">
                            <!-- <tr>
                                <td>Planta</td>
                                <td><input type="text" id="filtro_planta_captura" list="lista_planta" class="form-control form-control-sm custom-select"></td>
                                <datalist id="lista_planta">
                                  <option value="Puebla">
                                </datalist>
                            </tr>
                            <tr>
                                <td>Area</td>
                                <td><input type="text" id="filtro_area_captura" list="lista_area" class="form-control form-control-sm custom-select"></td>
                                <datalist id="lista_area">
                                  <option value="Slab">
                                </datalist>
                            </tr>
                            <tr>
                                <td>Linea</td>
                                <td><input type="text" id="filtro_linea_captura" list="lista_linea" class="form-control form-control-sm custom-select"></td>
                                <datalist id="lista_linea">
                                  <option value="Bosch 1s">
                                  <option value="Linea 1">
                                  <option value="Linea 2">
                                  <option value="Linea 3">
                                  <option value="Linea 4">
                                </datalist>
                            </tr>
                            <tr>
                                <td>Turno</td>
                                <td><input type="text" id="filtro_turno_captura" list="lista_turno" class="form-control form-control-sm custom-select turno"></td>
                                  <datalist id="lista_turno">
                                    <option value="1er">
                                    <option value="2do">
                                    <option value="3er">                              
                                  </datalist>
                            </tr> -->
                            <tr>
                                <td>Fecha Inicio</td>
                                <td><input type="date" id="busqueda_input_extracto_excel" class="form-control form-control-sm"/></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <div class="col text-right">
                      <a class="btn btn-sm btn-warning" data-toggle="collapse" href="#mapa_filtro_2">Buscar</a>
                    </div> -->
                  </div>
                </div>
              </form>          
            </div>

            <div class="col-xl-12">
              <form>
                <div class="card bg-transparent">
                  <div class="card-header bg-transparent">
                    <div class="row">
                      <div class="col">
                        <h5 class="h3 text-dark text-muted mb-0"><span class="badge badge-warning">Resultado</span></h5>
                      </div>
                    </div>
                  </div>
                  <div class="card-body table-responsive">
                    <table class="table table-sm" id="filtro_menus_entradas_consulta_extracto_excel">
                      <thead class="table-dark">
                        <tr align="center">
                          <th>Fecha</th>
                          <th hidden>Sku</th>
                          <th hidden>Lote</th>
                          <th>Operador</th>
                          <th hidden>Operador Cambio</th>
                          <th hidden>Codigo Sobre</th>
                          <th hidden>T. Corrida</th>
                          <th>Rework</th>
                          <th>Scrap</th>
                          <th hidden>Lote Bobina</th>
                          <th hidden>Bobina Consumida</th>
                          <th hidden>Total Display</th>
                          <th>T. Maximo</th>
                          <th>T. Usado</th>
                          <th>T. Operativo</th>
                          <th hidden>Quality Loss</th>
                          <th hidden>Speed Loss</th>
                          <th>Ge</th>
                          <th hidden>Sección</th>
                          <th hidden>Planta</th>
                          <th hidden>Area</th>
                          <th>Turno</th>
                          <th hidden>Linea</th>
                          <th hidden>Maquina</th>
                          <th hidden>Perdida</th>
                          <th hidden>Falla</th>
                          <th hidden>Frecuencia</th>
                          <th hidden>Total</th>
                        </tr>
                      </thead>
                      {% for Registro in registro %}
                      <tr align="center">
                        <td>{{Registro.fecha}}</td>
                        <td hidden>{{Registro.sku}}</td>
                        <td hidden>{{Registro.lote}}</td>
                        <td>{{Registro.nombre_operador}}</td>
                        <td hidden>{{Registro.nombre_operador_cambios}}</td>
                        <td hidden>{{Registro.codigo_sobre}}</td>
                        <td hidden>{{Registro.tiempo_corrida}}</td>
                        <td>{{Registro.rework}}</td>
                        <td>{{Registro.scrap}}</td>
                        <td hidden>{{Registro.lote_bobina}}</td>
                        <td hidden>{{Registro.bobina_consumida}}</td>
                        <td hidden>{{Registro.total_display}}</td>
                        <td>{{Registro.tiempo_maximo}}</td>
                        <td>{{Registro.tiempo_usado}}</td>
                        <td>{{"{:.0f}".format(Registro.tiempo_operativo)}}</td>
                        <td hidden>{{Registro.quality_loss}}</td>
                        <td hidden>{{Registro.speed_loss}}</td>
                        <td>{{Registro.ge}}  <i class="fas fa-percent text-primary"></i></td>
                        <td hidden>{{Registro.seccion}}</td>
                        <td hidden>{{Registro.planta}}</td>
                        <td hidden>{{Registro.area}}</td>
                        <td>{{Registro.turno}}</td>
                        <td hidden>{{Registro.linea}}</td>
                        <td hidden>{{Registro.maquina}}</td>
                        <td hidden>{{Registro.perdida}}</td>
                        <td hidden>{{Registro.falla}}</td>
                        <td hidden>{{Registro.frec}}</td>
                        <td hidden>{{Registro.total}}</td>
                      </tr>
                      {% endfor %}
                      {% for Registro in registro_dos %}
                      <tr align="center">
                        <td>{{Registro.fecha}}</td>
                        <td hidden>{{Registro.sku}}</td>
                        <td hidden>{{Registro.lote}}</td>
                        <td>{{Registro.nombre_operador}}</td>
                        <td hidden>{{Registro.nombre_operador_cambios}}</td>
                        <td hidden>{{Registro.codigo_sobre}}</td>
                        <td hidden>{{Registro.tiempo_corrida}}</td>
                        <td>{{Registro.rework}}</td>
                        <td>{{Registro.scrap}}</td>
                        <td hidden>{{Registro.lote_bobina}}</td>
                        <td hidden>{{Registro.bobina_consumida}}</td>
                        <td hidden>{{Registro.total_display}}</td>
                        <td>{{Registro.tiempo_maximo}}</td>
                        <td>{{Registro.tiempo_usado}}</td>
                        <td>{{"{:.0f}".format(Registro.tiempo_operativo)}}</td>
                        <td hidden>{{Registro.quality_loss}}</td>
                        <td hidden>{{Registro.speed_loss}}</td>
                        <td>{{Registro.ge}}  <i class="fas fa-percent text-primary"></i></td>
                        <td hidden>{{Registro.seccion}}</td>
                        <td hidden>{{Registro.planta}}</td>
                        <td hidden>{{Registro.area}}</td>
                        <td>{{Registro.turno}}</td>
                        <td hidden>{{Registro.linea}}</td>
                        <td hidden>{{Registro.maquina}}</td>
                        <td hidden>{{Registro.perdida}}</td>
                        <td hidden>{{Registro.falla}}</td>
                        <td hidden>{{Registro.frec}}</td>
                        <td hidden>{{"{:.0f}".format(Registro.total)}}</td>
                      </tr>
                      {% endfor %}
                      {% for Registro in registro_tres %}
                      <tr align="center">
                        <td>{{Registro.fecha}}</td>
                        <td hidden>{{Registro.sku}}</td>
                        <td hidden>{{Registro.lote}}</td>
                        <td>{{Registro.nombre_operador}}</td>
                        <td hidden>{{Registro.nombre_operador_cambios}}</td>
                        <td hidden>{{Registro.codigo_sobre}}</td>
                        <td hidden>{{Registro.tiempo_corrida}}</td>
                        <td>{{Registro.rework}}</td>
                        <td>{{Registro.scrap}}</td>
                        <td hidden>{{Registro.lote_bobina}}</td>
                        <td hidden>{{Registro.bobina_consumida}}</td>
                        <td hidden>{{Registro.total_display}}</td>
                        <td>{{Registro.tiempo_maximo}}</td>
                        <td>{{Registro.tiempo_usado}}</td>
                        <td>{{"{:.0f}".format(Registro.tiempo_operativo)}}</td>
                        <td hidden>{{Registro.quality_loss}}</td>
                        <td hidden>{{Registro.speed_loss}}</td>
                        <td>{{Registro.ge}}  <i class="fas fa-percent text-primary"></i></td>
                        <td hidden>{{Registro.seccion}}</td>
                        <td hidden>{{Registro.planta}}</td>
                        <td hidden>{{Registro.area}}</td>
                        <td>{{Registro.turno}}</td>
                        <td hidden>{{Registro.linea}}</td>
                        <td hidden>{{Registro.maquina}}</td>
                        <td hidden>{{Registro.perdida}}</td>
                        <td hidden>{{Registro.falla}}</td>
                        <td hidden>{{Registro.frec}}</td>
                        <td hidden>{{"{:.0f}".format(Registro.total)}}</td>
                      </tr>
                      {% endfor %}
                      {% for Registro in registro_cuatro %}
                      <tr align="center">
                        <td>{{Registro.fecha}}</td>
                        <td hidden>{{Registro.sku}}</td>
                        <td hidden>{{Registro.lote}}</td>
                        <td>{{Registro.nombre_operador}}</td>
                        <td hidden>{{Registro.nombre_operador_cambios}}</td>
                        <td hidden>{{Registro.codigo_sobre}}</td>
                        <td hidden>{{Registro.tiempo_corrida}}</td>
                        <td>{{Registro.rework}}</td>
                        <td>{{Registro.scrap}}</td>
                        <td hidden>{{Registro.lote_bobina}}</td>
                        <td hidden>{{Registro.bobina_consumida}}</td>
                        <td hidden>{{Registro.total_display}}</td>
                        <td>{{Registro.tiempo_maximo}}</td>
                        <td>{{Registro.tiempo_usado}}</td>
                        <td>{{"{:.0f}".format(Registro.tiempo_operativo)}}</td>
                        <td hidden>{{Registro.quality_loss}}</td>
                        <td hidden>{{Registro.speed_loss}}</td>
                        <td>{{Registro.ge}}  <i class="fas fa-percent text-primary"></i></td>
                        <td hidden>{{Registro.seccion}}</td>
                        <td hidden>{{Registro.planta}}</td>
                        <td hidden>{{Registro.area}}</td>
                        <td>{{Registro.turno}}</td>
                        <td hidden>{{Registro.linea}}</td>
                        <td hidden>{{Registro.maquina}}</td>
                        <td hidden>{{Registro.perdida}}</td>
                        <td hidden>{{Registro.falla}}</td>
                        <td hidden>{{Registro.frec}}</td>
                        <td hidden>{{"{:.0f}".format(Registro.total)}}</td>
                      </tr>
                      {% endfor %}
                      {% for Registro in registro_cinco %}
                      <tr align="center">
                        <td>{{Registro.fecha}}</td>
                        <td hidden>{{Registro.sku}}</td>
                        <td hidden>{{Registro.lote}}</td>
                        <td>{{Registro.nombre_operador}}</td>
                        <td hidden>{{Registro.nombre_operador_cambios}}</td>
                        <td hidden>{{Registro.codigo_sobre}}</td>
                        <td hidden>{{Registro.tiempo_corrida}}</td>
                        <td>{{Registro.rework}}</td>
                        <td>{{Registro.scrap}}</td>
                        <td hidden>{{Registro.lote_bobina}}</td>
                        <td hidden>{{Registro.bobina_consumida}}</td>
                        <td hidden>{{Registro.total_display}}</td>
                        <td>{{Registro.tiempo_maximo}}</td>
                        <td>{{Registro.tiempo_usado}}</td>
                        <td>{{"{:.0f}".format(Registro.tiempo_operativo)}}</td>
                        <td hidden>{{Registro.quality_loss}}</td>
                        <td hidden>{{Registro.speed_loss}}</td>
                        <td>{{Registro.ge}}  <i class="fas fa-percent text-primary"></i></td>
                        <td hidden>{{Registro.seccion}}</td>
                        <td hidden>{{Registro.planta}}</td>
                        <td hidden>{{Registro.area}}</td>
                        <td>{{Registro.turno}}</td>
                        <td hidden>{{Registro.linea}}</td>
                        <td hidden>{{Registro.maquina}}</td>
                        <td hidden>{{Registro.perdida}}</td>
                        <td hidden>{{Registro.falla}}</td>
                        <td hidden>{{Registro.frec}}</td>
                        <td hidden>{{"{:.0f}".format(Registro.total)}}</td>
                      </tr>
                      {% endfor %}
                      {% for Registro in registro_seis %}
                      <tr align="center">
                        <td>{{Registro.fecha}}</td>
                        <td hidden>{{Registro.sku}}</td>
                        <td hidden>{{Registro.lote}}</td>
                        <td>{{Registro.nombre_operador}}</td>
                        <td hidden>{{Registro.nombre_operador_cambios}}</td>
                        <td hidden>{{Registro.codigo_sobre}}</td>
                        <td hidden>{{Registro.tiempo_corrida}}</td>
                        <td>{{Registro.rework}}</td>
                        <td>{{Registro.scrap}}</td>
                        <td hidden>{{Registro.lote_bobina}}</td>
                        <td hidden>{{Registro.bobina_consumida}}</td>
                        <td hidden>{{Registro.total_display}}</td>
                        <td>{{Registro.tiempo_maximo}}</td>
                        <td>{{Registro.tiempo_usado}}</td>
                        <td>{{"{:.0f}".format(Registro.tiempo_operativo)}}</td>
                        <td hidden>{{Registro.quality_loss}}</td>
                        <td hidden>{{Registro.speed_loss}}</td>
                        <td>{{Registro.ge}}  <i class="fas fa-percent text-primary"></i></td>
                        <td hidden>{{Registro.seccion}}</td>
                        <td hidden>{{Registro.planta}}</td>
                        <td hidden>{{Registro.area}}</td>
                        <td>{{Registro.turno}}</td>
                        <td hidden>{{Registro.linea}}</td>
                        <td hidden>{{Registro.maquina}}</td>
                        <td hidden>{{Registro.perdida}}</td>
                        <td hidden>{{Registro.falla}}</td>
                        <td hidden>{{Registro.frec}}</td>
                        <td hidden>{{"{:.0f}".format(Registro.total)}}</td>
                      </tr>
                      {% endfor %}
                    </table>
                  </div>
                </div>
              </form>          
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6">
        <div class="copyright text-center  text-lg-left  text-muted">
          &copy; 2021
          <a href="" class="font-weight-bold ml-1" target="_blank">Mondelez</a>
        </div>
      </div>
      <div class="col-lg-6">
        <ul
          class="nav nav-footer justify-content-center justify-content-lg-end"
        >
          <li class="nav-item">
            <a href="" class="nav-link" target="_blank">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
{% endblock %}
