{% extends "mainpages/layout.html" %}
{% block title %}Estándares{% endblock %}
{% block content %}
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row justify-content-center">
    <div class="col">
      <div class="card">
        <div class="card-header bg-transparent">
            <div class="row align-items-center">
                <div class="col">
                    <h3 class="mb-0">
                        <span class="badge badge-warning">Estándares</span> -
                        Menu Valores Actuales Ultimo Q:
                    </h3>
                </div>
                <div class="col text-right">
                    <a href="{{url_for('menus.menu_inicio_estandares')}}" class="btn btn-sm btn-primary">Regresar</a>
                </div>
            </div>
        </div>
        <div class="card-body">
        <!-- INICIO CARDS -->
          <!--FILA 1 -->
          <div class="container-fluid">
            <div class="header-body">
              <div class="row align-items-center py-4">
              </div>
              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Slab 1's</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Slab 3's</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Slab 6's</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Five Stick</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--FILA 2 -->
          <div class="container-fluid">
            <div class="header-body">
              <div class="row align-items-center py-4">
              </div>
              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">EUVP</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Trident 4's</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Max Air</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">CL6</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--FILA 3 -->
          <div class="container-fluid">
            <div class="header-body">
              <div class="row align-items-center py-4">
              </div>
              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Halls</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Halls 1's</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Marcherssinis SFP</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Marcherssinis CFP</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--FILA 4 -->
          <div class="container-fluid">
            <div class="header-body">
              <div class="row align-items-center py-4">
              </div>
              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Clorets 30's</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Clorets 2's</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">PB's</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Bubba</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--FILA 5 -->
          <div class="container-fluid">
            <div class="header-body">
              <div class="row align-items-center py-4">
              </div>
              <div class="row">
                <div class="col-xl-3 col-md-6">
                  <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                      <div class="row">
                        <div class="col">
                          <span class="h2 font-weight-bold mb-0">Chiclets 100s</span>
                        </div>
                        <div class="col-auto">
                          <i class="fas fa-file-alt text-primary"></i>
                        </div>
                      </div>
                      <p class="mt-3 mb-0 text-sm">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="Próximamente"><span class="badge badge-default">Próximamente</span></a>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <!-- FIN CARDS -->
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->
  <footer class="footer pt-0">
    <div class="row align-items-center justify-content-lg-between">
      <div class="col-lg-6">
        <div class="copyright text-center  text-lg-left  text-muted">
          &copy; 2021 <a href="" class="font-weight-bold ml-1" target="_blank">Mondelez</a>
        </div>
      </div>
      <div class="col-lg-6">
        <ul class="nav nav-footer justify-content-center justify-content-lg-end">
          <li class="nav-item">
            <a href="" class="nav-link" target="_blank">Dashboard</a>
          </li>
        </ul>
      </div>
    </div>
  </footer>
</div>
{% endblock %}