{% extends "mainpages/page-layout.html" %}
{% block title %}Edit{% endblock %}
{% block contenido %}
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <!-- <div class="col-xl-4 order-xl-2"></div> -->
        <div class="col-xl-12 order-xl-1">
            <div class="card">
                <div class="card-body">
                    {% for field, errors in form.errors.items() %}
                    <div class="alert alert-danger">
                    {{ form[field].label }}: {{ ', '.join(errors) }}
                    </div>
                    {% endfor %}
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h3 class="mb-0">Agregar Sku</h3>
                                </div>
                                <div class="col-4 text-right">
                                    {{form.enviar(class="btn btn-warning")}}
                                </div>
                            </div>
                        </div>
                        <h6 class="heading-small text-muted mb-4">Informacion del Sku</h6>
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Sku</label>
                                        {{form.sku(class="form-control form-control-sm", placeholder="N° de Sku")}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Prodcuto</label>
                                        {{form.producto(class="form-control form-control-sm", placeholder="Producto del Sku")}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Máquina</label>
                                        {{form.maquina(class="form-control form-control-sm", placeholder="Maquina")}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Descripción</label>
                                        {{form.descripcion(class="form-control form-control-sm", placeholder="Descripción del Sku")}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">Linea</label>
                                        {{form.linea(class="form-control form-control-sm", placeholder="Linea")}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Kg/min</label>
                                        {{form.kg_min(class="form-control form-control-sm", placeholder="Kg por Min")}}
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Ea/Min</label>
                                        {{form.ea_min(class="form-control form-control-sm", placeholder="Unidad por Min")}}
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">BUoM</label>
                                        {{form.buom_descripcion(class="form-control form-control-sm", placeholder="Descripción")}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer pt-0">
        <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6">
                <div class="copyright text-center  text-lg-left  text-muted">
                    &copy; 2021 <a href="" class="font-weight-bold ml-1" target="_blank">Mondelez</a>
                </div>
            </div>
            <div class="col-lg-6">
                <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                    <li class="nav-item">
                        <a href="" class="nav-link" target="_blank">Dashboard</a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
</div>
{% endblock %}